* {
    background-color: rgb(234, 234, 182);

}

@font-face {
    font-family: LittleLordFontleroyNF;
    src: url("font/LittleLordFontleroyNF/LittleLordFontleroyNF.ttf");
}

p {
    background-color: aqua;
    color: deeppink;
    font-size: 30px;

}


td {
    background-color: #d156c3;
    width: 50px;
    height: 50px;
}

td {
    background: green;
}

.titulo {
    font-size: 15px;
    font-family: LittleLordFontleroyNF;
}

.textoCentrado {
    text-align: center;
    font-size: 30px;
}

.fondoVerde {
    background: rgb(65, 233, 132);
    font-size: 10px;
}

#cuatro {
    background: chartreuse;

}

#cinco {
    background: chartreuse;
}

#seis {
    background: rgb(23, 143, 154);
    border-left: 5px solid red;
}

thead tr td {
    background-color: #14649a;
    width: 100px;
    height: 100px;
}

@media only screen and (max-width:700px) {

    p {
        background-color: rgb(255, 255, 0);
    
    }



}