
<style>
*{
    background-color: #e3cf60;  
    
}

@font-face {
    font-family: LittleLordFontleroyNF;
    src: url("font/primera/LittleLordFontleroyNF.ttf");
}
p{
    background-color: aqua;
    color:  #ffa10b;
    font-size: 30px;
}  


td{
    background: #ffa10b;
    width: 100px;
    height: 100px; 
    border-radius: 10px;
    
     
}
.fondolila{
    background: rgb(167, 72, 167);
    font-size: 10px;
}

#cuatro{
    
    background: rgb(116, 210, 21);
}
#cinco{
    background: rgb(116, 210, 21)
}
#seis{
    background: #ffa10b;
    border-left: 5px solid #ba0b4e;

}

.titulo{
    font-size: 15px;
    font-family: LittleLordFontleroyNF;

}

.textoCentrado{
    text-align: center;
    font-size: 30px;
}

thead tr td{
    background:  #6c4b15;
    width: 100px;
    height: 100px;  
    
}

@media only screen and (max-width:700px){

    p{
        background-color: rgb(244, 244, 8);
       
    }

}











</style>